.my-card {
    width: 100%;
    height: 100%;
}

.full-width {
    width: 99%;
}

.container1 {
    display: flex;
}

.actions {
    margin-top: auto;
    /* Esto coloca el mat-card-actions en la parte inferior */
    display: flex;
    justify-content: flex-end;
    /* Esto alinea los botones a la derecha */
}