<div class="container">
    <mat-toolbar>
        <span>Pet</span>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="savePet()">
                <mat-grid-list cols="2" rowHeight="54px">
                    <mat-grid-tile [rowspan]="rowspan">
                        <div class="container" class="full-width">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Pet's name</mat-label>
                                    <input matInput placeholder="Pet's name" formControlName="name">
                                </mat-form-field>
                            </div>
                            <div class="full-width" style="display: flex;">
                                <div class="full-width">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Specie</mat-label>
                                        <mat-select name="specie"
                                            (selectionChange)="selectedSpecieChanged($event.value)"
                                            formControlName="specie">
                                            @for (specie of species; track specie) {
                                            <mat-option [value]="specie.id">{{specie.name}}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="full-width">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Breed</mat-label>
                                        <mat-select name="breed" formControlName="breed">
                                            @for (breed of breeds; track breed) {
                                            <mat-option [value]="breed.id">{{breed.name}}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="full-width" style="display: flex;">
                                <div class="full-width">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Sex</mat-label>
                                        <mat-select [(value)]="selectedSex" formControlName="sex">
                                            <mat-option value="Male">Male</mat-option>
                                            <mat-option value="Female">Female</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="full-width">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Birthday</mat-label>
                                        <input matInput [matDatepicker]="picker" placeholder="Select the pet's birthday" formControlName="birthday">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="full-width">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Human</mat-label>
                                    <input matInput placeholder="Pet's human" formControlName="human">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput style="margin-top: 0px" formControlName="comment"></textarea>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Pet's address" formControlName="address">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [rowspan]="rowspan" [style.background]="'lightblue'">
                        <img id="imagen" class="image" [src]="form.get('image')?.value" alt="Imagen"
                            (click)="cargarImagen()">
                        <input type="file" #fileInput style="display: none" (change)="manejarCambioImagen($event)">
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1">
                        <button type="submit" mat-raised-button color="primary">{{insert ? "Insert pet's data" : "Update
                            pet's data"}}</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
    </mat-card>
</div>