<div class="container">
    <mat-toolbar>
        <span>User</span>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="saveUser()">
                <mat-grid-list cols="2" rowHeight="54px">
                    <mat-grid-tile [rowspan]="rowspan">
                        <div class="container" class="full-width">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>username</mat-label>
                                    <input matInput placeholder="User's username" formControlName="username" 
                                    (blur)="form.get('username')!.updateValueAndValidity()">
                                    @if(form.get('username')!.hasError('containsWhitespace')){
                                        <mat-error>The username must not contain white spaces</mat-error>
                                    }
                                    @if(form.get('username')!.hasError('required')){
                                        <mat-error>Please enter a valid username</mat-error>
                                    }
                                    @if(form.get('username')!.hasError('usernameExists')){
                                        <mat-error>El usuario ya existe. Por favor, elige otro.</mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="User's email" formControlName="email">
                                    @if(form.get('email')!.hasError('required')){
                                        <mat-error>Please enter an email address</mat-error>
                                    }
                                    @if (form.get('email')!.hasError('email'))
                                    {
                                        <mat-error>Please enter a valid email address</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="full-width">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Roles</mat-label>
                                    <mat-select name="roles" formControlName="roles" multiple>
                                        @for (role of roles; track role) {
                                        <mat-option [value]="role.value">{{role.label}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [rowspan]="rowspan" [style.background]="'lightblue'">
                        <div style="width: 95%;">
                            @if(!userToEdit?.human){
                                <div class="format-tile">This user is not associated with a human.</div>
                                <div class="format-tile">
                                    <button mat-raised-button color="primary" (click)="associateHuman($event)">
                                        Associate me with a human
                                    </button>
                                </div>
                            }
                            @else {
                                <!-- <app-human-card [human]="userToEdit?.human" [imageUrl]="'/assets/load-my-user-picture.png'"> -->
                                <app-human-card [human]="userToEdit?.human" [imageUrl]="humanImage">
                                </app-human-card>
                            }
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1">
                        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
                            {{insert ? "Insert user's data" : "Update user's data"}}
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
    </mat-card>
</div>