mat-card {
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

mat-card-title,
mat-card-content {
  flex: 1;
}

mat-card-image {
  overflow: hidden; /* Evita que la imagen se desborde */
  flex: 0; /* No se expandirá, mantendrá su tamaño original */
}

img {
  width: 100%;
  height: 340px;
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  padding: 5px;
  border-radius: 10px;
}
