<div class="container">
    <mat-toolbar>
        <span>Community</span>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="myForm" (ngSubmit)="saveCommunity()">
                <mat-grid-list cols="2" rowHeight="54px">
                    <mat-grid-tile [rowspan]="rowspan">
                        <div class="container" class="full-width">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Community name</mat-label>
                                    <input matInput placeholder="Comm's name" formControlName="name" >
                                    @if(myForm.get('name')!.hasError('required')){
                                        <mat-error>Please enter a valid name</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="full-width">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Modality</mat-label>
                                    <mat-select name="modality" formControlName="modality">
                                        @for (modality of modalities; track modality) {
                                        <mat-option [value]="modality.value">{{modality.label}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="full-width">
                                <mat-form-field class="full-width" appearance="outline" >
                                    <mat-label>Select a community type</mat-label>
                                    <mat-select name="community-type" formControlName="type" [(value)]="communityTypeForEdit">
                                        @for (type of types; track type) {
                                        <mat-option [value]="type.id">{{type.name}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Pet's address" formControlName="address">
                                    @if(myForm.get('address')!.hasError('required')){
                                        <mat-error>Please enter an address</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="full-width" style="display: flex;">
                                <div class="full-width">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Latitude</mat-label>
                                        <input matInput placeholder="Latitude" formControlName="lat">
                                        @if(myForm.get('lat')!.hasError('required')){
                                            <mat-error>Please enter a latitude coordinate</mat-error>
                                        }
                                        @if(myForm.get('lat')!.hasError('invalidLat')){
                                            <mat-error>{{ myForm.get('lat')!.getError('message') }}</mat-error>
                                        }
                                    </mat-form-field>
                                </div>
                                <div class="full-width">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Longitude</mat-label>
                                        <input matInput placeholder="Longitude" formControlName="lng">
                                        @if(myForm.get('lng')!.hasError('required')){
                                            <mat-error>Please enter a longitude coordinate</mat-error>
                                        }
                                        @if(myForm.get('lng')!.hasError('invalidLng')){
                                            <mat-error>{{ myForm.get('lng')!.getError('message') }}</mat-error>
                                        }
                                    </mat-form-field>
                                </div>
                            </div>
                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput style="margin-top: 0px" formControlName="comment"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [rowspan]="rowspan" [style.background]="'lightblue'">
                        <img id="imagen" class="image" [src]="myForm.get('image')?.value" alt="Imagen"
                            (click)="loadImage()">
                        <input type="file" #fileInput style="display: none" (change)="changeImage($event)">
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1">
                        <button 
                        type="submit"
                        mat-raised-button color="primary"
                        [disabled]="myForm.invalid"
                        >
                        {{insert ? "Insert community's data" : "Update community's data"}}
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
    </mat-card>
</div>