<div class="container">
    <mat-toolbar>
        <span>I want to belong to this community</span>
    </mat-toolbar>
    <form [formGroup]="form" (ngSubmit)="addHumanToCommunity()">

        <div>
            <div style="display: flex; flex-direction: column; align-items: stretch;">
                <mat-form-field appearance="outline" style="flex: 1;">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Human's email" formControlName="email">
                    @if (form.get('email')!.hasError('required')){
                    <mat-error>Please enter an email address</mat-error>
                    }
                    @if (form.get('email')!.hasError('email'))
                    {
                    <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (form.get('email')!.hasError('humanNotExists')){
                        <mat-error>The human with this email does not exist.</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="full-width">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Select a position</mat-label>
                    <mat-select name="community-type" formControlName="positionName"
                        (selectionChange)="onPositionChange($event.value)">
                        @for (position of positions; track position) {
                        <mat-option [value]="position">{{position.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput style="margin-top: 0px" formControlName="positionDescription"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div style="text-align: right;">
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" mat-button>
                Add human
            </button>
        </div>
    </form>
</div>