<div class="container">
    <mat-toolbar>
        <span>Veterinary</span>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="myForm" (ngSubmit)="saveVet()">
                <mat-grid-list cols="2" rowHeight="54px">
                    <mat-grid-tile [rowspan]="rowspan">
                        <div class="container" class="full-width">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Vet's name</mat-label>
                                    <input matInput placeholder="Vet's name" formControlName="name">
                                    @if(myForm.get('name')!.hasError('required')){
                                        <mat-error>Please enter a valid name</mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <div class="full-width">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Vet's type</mat-label>
                                    <mat-select name="vet-type" formControlName="vetType">
                                        @for (type of vetTypes; track type) {
                                        <mat-option [value]="type.id">{{type.name}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Phone</mat-label>
                                    <input matInput placeholder="Vet's phone" formControlName="phone">
                                    @if(myForm.get('phone')!.hasError('required')){
                                        <mat-error>Please enter a phone number</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Vet's email" formControlName="email">
                                    @if(myForm.get('email')!.hasError('required')){
                                        <mat-error>Please enter an email address</mat-error>
                                        }
                                    @if (myForm.get('email')!.hasError('email'))
                                    {
                                            <mat-error>Please enter a valid email address</mat-error>
                                    }
                                    
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Pet's address" formControlName="address">
                                    @if(myForm.get('address')!.hasError('required')){
                                        <mat-error>Please enter an address</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Web page</mat-label>
                                    <input matInput placeholder="Social network url" formControlName="url">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput style="margin-top: 0px" formControlName="comment"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [rowspan]="rowspan" [style.background]="'lightblue'">
                        <img id="imagen" class="image" [src]="myForm.get('image')?.value" alt="Imagen"
                            (click)="loadImage()">
                        <input type="file" #fileInput style="display: none" (change)="changeImage($event)">
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1">
                        <button 
                        type="submit"
                        mat-raised-button color="primary"
                        [disabled]="myForm.invalid"
                        >
                        {{insert ? "Insert vet's data" : "Update vet's data"}}
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
    </mat-card>
</div>