.custom-select {
    border: 1px solid #ced4da; /* Color del borde */
    border-radius: 4px; /* Bordes redondeados */
    overflow: hidden; /* Evita que las esquinas de las opciones sobresalgan */
    padding: 12px;
  }
  
  .mat-optgroup-label {
    background-color: #f8f9fa; /* Color de fondo para las etiquetas de grupo */
    padding: 8px; /* Espaciado interno para las etiquetas de grupo */
  }
  
  .mat-option {
    padding: 8px; /* Espaciado interno para las opciones */
  }
  
  .mat-optgroup {
    border-bottom: 1px solid #ced4da; /* Línea entre grupos */
  }