:host {
    display: grid;
    gap: 10px; 
  }
  
  @media (min-width: 1200px) {
    /* Si hay suficiente espacio, muestra 6 columnas */
    :host {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  @media (max-width: 1199px) and (min-width: 900px) {
    /* Si el espacio es moderado, muestra 4 columnas */
    :host {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 899px) and (min-width: 600px) {
    /* Si el espacio es más limitado, muestra 2 columnas */
    :host {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 599px) {
    /* Si el espacio es muy limitado, muestra 1 columna */
    :host {
      grid-template-columns: 1fr;
    }
  }
  
  app-pet-card {
    width: 100%; /* Ancho del card en relación con la columna */
  }
    
  .custom-select {
    border: 1px solid #ced4da; /* Color del borde */
    border-radius: 4px; /* Bordes redondeados */
    overflow: hidden; /* Evita que las esquinas de las opciones sobresalgan */
    padding: 12px;
  }
  
  .mat-optgroup-label {
    background-color: #f8f9fa; /* Color de fondo para las etiquetas de grupo */
    padding: 8px; /* Espaciado interno para las etiquetas de grupo */
  }
  
  .mat-option {
    padding: 8px; /* Espaciado interno para las opciones */
  }
  
  .mat-optgroup {
    border-bottom: 1px solid #ced4da; /* Línea entre grupos */
  }