:host {
    display: grid;
    gap: 10px; 
  }
  
  @media (min-width: 1200px) {
    :host {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  @media (max-width: 1199px) and (min-width: 900px) {
    :host {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 899px) and (min-width: 600px) {
    :host {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 599px) {
    :host {
      grid-template-columns: 1fr;
    }
  }
  
  app-pet-card {
    width: 100%; 
  }
    
  .custom-select {
    border: 1px solid #ced4da;
    border-radius: 4px; 
    overflow: hidden; 
    padding: 12px;
  }
  
  .mat-optgroup-label {
    background-color: #f8f9fa;
    padding: 8px;
  }
  
  .mat-option {
    padding: 8px;
  }
  
  .mat-optgroup {
    border-bottom: 1px solid #ced4da;
  }