.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  margin-top: 20px;
  margin-left: 40px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-image {
  width: 70px;
  height: 70px;
  object-fit: cover; /* Esto ayuda a mantener las proporciones de la imagen */
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  /* Difuminado en los bordes */
}

.spacer {
  flex: 1 1 auto;
}

.username {
  margin-left: 10px;
}
