<div style="margin-top: 22px; display: flex; position: relative;">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Select a community</mat-label>
        <mat-select class="custom-select" style="width: 100%; height: 30px;" (valueChange)="onComboChange($event)">
            @for (group of communityGroups; track group) {
            <mat-optgroup [label]="group.name" [disabled]="group.disabled">
                @for (community of group.community; track community) {
                <!-- <mat-option [value]="community.value" (click)="selectCommunity(community)">{{ community.viewValue }}</mat-option> -->
                <mat-option [value]="community.value">{{ community.viewValue }}</mat-option>
                }
            </mat-optgroup>
            }
        </mat-select>
    </mat-form-field>
</div>