<div class="container">
  <mat-toolbar>
    <span>Communities</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" routerLink="/community/community" [disabled]="!userName">Add</button>
  </mat-toolbar>

    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtering by..." #input>
    </mat-form-field>
    <div [hidden]="communities.length == 0">
      <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="modality">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Modality </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon>
              @if (element.modality == "public") {
                public
              } @else {
                hub
              }
            </mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
          <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
        </ng-container>

        <ng-container matColumnDef="social">
          <th mat-header-cell *matHeaderCellDef>Social</th>
          <td mat-cell *matCellDef="let element">
            @if (element.url) {
            <a href="{{element.url}}" target="_blank">
              <mat-icon>facebook</mat-icon>
            </a>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pict </th>
          <td mat-cell *matCellDef="let element">
            @if (element.thumbnail) {
            <div class="image-container">
              <img [src]="element.thumbnail" alt="thumbnail">
            </div>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element" style="text-align: right;">
            <a [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="delete(element)">
                <mat-icon>delete</mat-icon> Delete
              </button>
              <button mat-menu-item (click)="edit(element)">
                <mat-icon>edit</mat-icon> Edit
              </button>
              <button mat-menu-item (click)="goToLoation(element)">
                <mat-icon>pets</mat-icon>Pet members
              </button>
              <button mat-menu-item (click)="goToLoation(element)">
                <mat-icon>location_on</mat-icon> Location
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="totalRows" [pageSize]="pageSize" [pageSizeOptions]="[10, 50, 100]"
        (page)="pageChanged($event)" aria-label="Select page of communities">
      </mat-paginator>
    </div>
    <h2 [hidden]="communities.length > 0">No communities records to show</h2>