html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin: 5px;
}

.success-snackbar {
    background-color: green;
    /* Cambia el color de fondo para éxito */
    color: white;
    /* Cambia el color del texto si es necesario */
}

.error-snackbar {
    background-color: red;
    /* Cambia el color de fondo para error */
    color: white;
    /* Cambia el color del texto si es necesario */
}